<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
   <add key="MyArti" value="http://10.38.30.113:8081/artifactory/api/nuget/v3/mar231-nuget" protocolVersion="3" />
  </packageSources>
    <packageSourceCredentials>
        <MyArti>
            <add key="Username" value="build-server" />
            <add key="ClearTextPassword" value="a4dd6c45-a567-47cf-bf0c-f9c1d3d4ecf6" />
        </MyArti>
    </packageSourceCredentials>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
