<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
   <add key="nuget.org" value="http://10.38.30.113:8081/artifactory/api/nuget/v3/mar23-nuget" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
